<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- mapper를 사용할 인터페이스의 경로 지정 --><mapper namespace="com.practice.Dec.connectTest">    <!--  sql구문의 명칭(id)과 결과값의 타입(resultType) 명시  -->    <select id="selectCurTime" resultType="String">        <!-- 사용할 sql구문 작성 -->        SELECT to_char(SYSDATE,'yy-mm-dd') curTime        FROM dual    </select></mapper>